@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Shared Styles */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

section{
    margin-top: 80px;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272;
}

.bg-main{
    background-color: rgba(255, 144, 14, 0.1);
}

.flex{
    display: flex;
}

.primary-btn{
    background-color: #FF900E;
    padding: 20px 25px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
}



/* header styles */

.nav-container{
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}
.nav-container h2{
    font-size: 3rem;
    font-weight: 800;
}

.links {
    gap: 30px;
    
}

.banner{
    text-align: center;
    
}

.banner-content{
    margin: 50px auto;
}

.banner-content h2{
    font-size: 4rem;
    font-weight: 700;
}

.banner-content p{
    margin: 32px 0;
    line-height: 26px;
}

.banner-img{
    max-width: 100%;
    margin-bottom: 40px;
}



/* Teams section styles */
.teams-container{
    align-items: center;
    gap: 40px;
}
.team-img-container{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.team-img-container img{
    width: calc(100% - 30px);
}
.team-details-container{
    width: calc(50% - 50px);
}

.team-details-container h2{
    font-size: 2.5rem;
    font-weight: 700;
}
#quick-list{
    font-weight: 500;
}

#features{
    color: #FF900E;
}

.team-details-container p{
    line-height: 26px;
    margin: 30px 0;
}



/* Media query for mobile device */
@media screen and (max-width: 576px) {
    header, main, footer{
        padding: 0 10px;
    }
    
     .nav-container, .teams-container{
        flex-direction: column;
        gap: 10px;
    }
    .team-img-container{
        width: auto;
        grid-template-columns: repeat(1, 1fr);
    }
    .team-details-container{
        width: auto;
    }
    
}