@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Shared Styles */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}
.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272;
}

.bg-main{
    background-color: rgba(255, 144, 14, 0.1);
}

.flex{
    display: flex;
}



/* header styles */

.nav-container{
    justify-content: space-between;
    padding: 30px
}

.links {
    gap: 30px;
    
}